*
{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  height: 60px;
}
nav .logo p{ 
  cursor:pointer;
	font-size: 30px;
  letter-spacing: 1.5;
	font-weight: bold; 
  float:left;
  color:white;
  text-transform: uppercase;
  color:green;
}
nav li {
  float: right;letter-spacing: 1.5;

}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover {
  background-color: grey;
}
.hd1
{
	text-align: center; 
  text-transform: uppercase;
  margin-top:30px; 
  font-size: 40px;
  letter-spacing: 1.5; 

}

.p1 p{
    background-color: black;  
    margin-top:20px;
    letter-spacing: 1.5;
     font-size: 30px;color:white; 
     text-align: center; 
    text-transform: uppercase;
    }

 .con{
      margin-top:5px;
      letter-spacing: 1.5; 
      text-align: center; 
      text-transform: uppercase;
      font-size: 30px;
      background-color: green;
    }

 .abt{
  margin-top:5px;
  argin-top:20px;
  letter-spacing: 1.5; 
  text-align: center; 
  font-family: vardana;
  font-size: 1.2em;
  background-color: green;

 }
 .gal{
  margin-top:5px;
  letter-spacing: 1.5; 
  text-align: center; 
  text-transform: uppercase;
  font-size: 30px;
  background-color: green;

 }
 .table{
 	letter-spacing: 1.5; 
  text-align: center; 
  text-transform: uppercase;
  font-size: 30px;
  background-color: dimgray;
  border-style: ridge; 
 }


 }
 .dis{
 	letter-spacing: 1.5;
  font-size: 20px; 
  font-style: vardana; 
  color:;
 }
 h3
 {
 	letter-spacing: 1.5;
  font-size: 20px; 
  font-style: vardana; 
  text-transform: uppercase;

 }
 .tbl1{
 	letter-spacing: 1.5; 
  text-align: center; 
  border-style: ridge;
  font-size: 2rem;
  font-family:vardana;
 }
 .mission{ 
  padding-top: 60px;
 	letter-spacing: 1.5;
  letter-spacing: 1;
  font-size: 1.2rem;
  font-family:vardana;
  text-align: center;
    color: black;
 }
 h4{
letter-spacing: 1.5;
font-size: 20px; 
font-style: vardana; 
text-transform: uppercase; 
text-align: center;
 }
.po{
  padding-top:20px;
	letter-spacing: 1;
  font-size: 1.2rem;
  font-family:vardana;
  text-align: center;
    color: black;
}
.tbl{
	  font-size: 30px;
    align-content: center;
    text-align: center;
}
.footer {
  padding-top: 5px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height:60px;
  letter-spacing: 1.5;
  font-size: 20px; 
  font-family: vardana;
}
.dis p{
	letter-spacing: 1;
  font-size: 1.2rem;
  font-family:vardana;
  text-align: center;
  color: black;
}
.ltbl
{
	font-size: 9px;
  align-content: center; 
  text-align: center;
  text-transform: uppercase;
  background-color: grey;
  color: white;

}
.hd1{
    padding-top: 60px;
    margin-top:5px;
  letter-spacing: 1.5; 
  text-align: center; 
  text-transform: uppercase;
  font-size: 30px;
  font-family: vardana;
}
.logo{
  padding-top: 5px;
}